spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:h2:mem:lostfound;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:org.h2.Driver}
    username: ${SPRING_DATASOURCE_USERNAME:sa}
    password: ${SPRING_DATASOURCE_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: ${SPRING_SQL_INIT_MODE:always}
  h2:
    console:
      enabled: true
server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /api